<div class="hr"></div>
    <footer class="wide padten overhide text-center grey" id="footer">
        <a href="/terms-of-use" class="panP font-14 blue">terms of use</a> | <a href="/privacy-policy" class="panP font-14 blue">privacy policy</a>
        <br><br>
        <span class="panP font14 ">{{site.brand}} &copy; {{date.year}}</span>
    </footer>