{{>header}}
    <div id="intro">
        <div id="jumbo">
            <div id="jumbo-l">
                <img src="/img/pic2.png" alt="{{site.brand}}">
            </div>
            <div id="jumbo-r">
                <h1>About {{site.brand}} <span>Please scroll down to know more</span></h1>
            </div>
        </div>
        <div id="i-f">
            <div id="cheer"></div>
        </div>
    </div>

<div class="center-1000xx padten overhide">
    <div class="wide glassify radfive padten">
        <p name="real name" class="panP slimy grey padten wide font14 overhide">Real Name: <span class="thick gold">Mashingil /m&aelig;&#643;ingi:l/</span></p>
        <p name="real name" class="panP slimy grey padten wide font14 overhide">Stage Name: <span class="thick gold">{{site.brand}}</span></p>
        <p name="real name" class="panP slimy grey padten wide font14 overhide">Record Label: <span class="thick gold">N/A</span></p>
        <p name="real name" class="panP slimy grey padten wide font14 overhide">Nationality: <span class="thick gold">Nigerian</span></p>
        <p name="real name" class="panP slimy grey padten wide font14 overhide">Occupation: <span class="thick gold">Recording Artist</span></p>
        <p name="real name" class="panP slimy grey padten wide font14 overhide">Generation: <span class="thick gold">Gen. Z</span></p>
        <p name="real name" class="panP slimy grey padten wide font14 overhide">Horoscope: <span class="thick gold">Taurus</span></p>
        <p name="real name" class="panP slimy grey padten wide font14 overhide">Pronouns: <span class="thick gold">He/Him (Male)</span></p>
        <p name="real name" class="panP slimy grey padten wide font14 overhide">Height: <span class="thick gold">6.08ft</span></p>
        <p name="real name" class="panP slimy grey padten wide font14 overhide">&nbsp;&nbsp;&nbsp;&nbsp;For more details about {{site.brand}}, you can check his discography out since he uses his music to express himself or reach out to him by clicking any of the links below: </p>
        <a href="/discography" class="panButton blue-bg marfive radfive overhide"><span class="silver slimy"><i class="fa fa-music"></i> Discography</span></a>
        <a href="/contact" class="panButton blue-bg marfive radfive overhide"><span class="silver slimy"><i class="fa fa-comment"></i> Contact</span></a>
    </div>
</div>

{{>footer}}