{{>header}}
    <div id="intro">
        <div id="jumbo">
            <div id="jumbo-r">
                <h1>Admin Login<span class="wide">restricted area</span></h1>
            </div>
        </div>
        <div id="i-f">
            <div id="cheer"></div>
        </div>
    </div>
    <div class="padten center-500"> 
        <br><br><br>
        <div class="glassify wide padten rad-3">
            <div class="inp martwenty no-side-margin">
                <p class="panP no-margin no-padding titi"><span class="thick gold">Username</span></p>
                <input id="logun" name="username" type="text" class="wide light-border padten font14 radfive white-bg slim light-black">
            </div>

            <div class="inp martwenty no-side-margin">
                <p class="panP no-margin no-padding titi"><span class="thick gold">Password</span><br>
                <input id="logpw" name="password" type="password" class="wide light-border padten font14 radfive white-bg slim light-black">
            </div>

            <p class="panP no-padding titi gold">
                <input id="saveii" type="checkbox"> Remember Device?
            </p>
            <br>
            <button onclick="adminLogin()" class="btxxx">Login</button>
        </div>
    </div>
    <br>


{{>footer}}