{{>header}}

<div id="intro">
        <div id="jumbo">
            <div id="jumbo-r">
                <h1>{{page.title}} <span class="wide">{{page.description}}</span></h1>
                <button onclick="preloader(1);link('/')">Go To Homepage</button>
            </div>
        </div>
        <div id="i-f">
            <div id="cheer"></div>
        </div>
    </div>