{{>preloader}}

{{>header}}
	<div id="intro">
        <div id="jumbo">
            <div id="jumbo-l">
                <img src="/img/pic2.png" alt="{{site.brand}}">
            </div>
            <div id="jumbo-r">
                <h1>{{site.brand}} <span>I make music when I'm free</span></h1>
                <button onclick="learnmore()">Learn More</button>
            </div>
        </div>
        <div id="i-f">
            <div id="cheer"></div>
        </div>
    </div>

    <div id="panels">
        <div class="panelx" id="panel-left">
            <div class="panela">
                <i class="fa fa-music"></i>
                <h2>Discography</h2>
                <p>Listen to Alshin The Kid's songs, including the latest ones</p>
                <a href="/discography">Listen Now</a>
            </div>
        </div>
        <div class="panelx" id="panel-center">
            <div class="panela"><i class="fa fa-comment"></i>
                <h2>Contact</h2>
                <p>Get in touch with Alshin The Kid for collaborations, bookings, deals, e.t.c.</p>
                <a href="/contact">Contact Now</a>
            </div>
        </div>
        <div class="panelx" id="panel-right">
            <div class="panela">
                <i class="fa fa-envelope"></i>
                <h2>Newsletters</h2>
                <p>Sign up for newsletters, be the first to know about Alshin The Kid's new releases and other related info</p>
                <button onclick="newsletter()">Sign Up</button>
            </div>
        </div>
    </div>


	
	
{{>footer}}
{{>btt}}
