@media screen and (max-width: 767px) {
    #sidePane {
        z-index: 1;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.5);
        display: none
    }
    #side {
        z-index: 2;
        position: fixed;
        width: 240px;
        top: 0;
        left: -240px;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        background: #fff;
        transition: all 200ms linear
    }
    
    #side.active {
        left: 0
    }
    #side #sideTop {
        height: 180px;
        background: #ccc;
        position: relative;
        overflow: hidden
    }
    #side #sideTop #userDet {
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 15px;
        color: #fff;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }
    #side #sideTop #userDet button {
        outline: none;
        border: none;
        margin-left: 5px;
        padding: 5px 10px;
        color: #fff;
        font-size: 14px;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px
    }
    #side #sideTop #logo {
        position: absolute;
        z-index: 2;
        top: 10px;
        left: 10px
    }
    #side #sideTop #sideClose {
        position: absolute;
        z-index: 2;
        border: none;
        background: none;
        color: #fff;
        outline: none;
        top: 15px;
        right: 10px;
        font-size: 16px
    }
    #side #sideLinks .linkGroup {
        border-bottom: 1px solid #ccc
    }
    #side #sideLinks .linkGroup .link {
        padding: 20px;
        display: flex;
        display: webkit-flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        cursor: pointer
    }
    #side #sideLinks .linkGroup .link .linkIcon {
        background: none;
        width: 30px;
        text-align: center;
        overflow: hidden;
        font-size: 20px;
        margin-right: 20px;
        color: #444
    }
    #side #sideLinks .linkGroup .link .linkText {
        width: calc(100% - 80px);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 14px;
        color: #444;
        font-weight: 500
    }
    #side #sideLinks .linkGroup .link .linkBadge {
        position: absolute;
        right: 20px
    }
    #mainPane {
        position: fixed;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        background: #fff;
        padding-top: 50px
    }
    #mainPane #header {
        position: fixed;
        width: 100%;
        z-index: 10;
        top: 0;
        left: 0;
        height: 50px;
        background: #fff;
        overflow: hidden;
        display: flex;
        display: webkit-flex;
        flex-direction: row;
        border-bottom: 1px solid #ccc
    }
    #mainPane #header #header_side {
        width: 50px;
        height: 100%;
        min-width: 50px;
        max-width: 50px;
        background: none
    }
    #mainPane #header #header_side button {
        height: 100%;
        width: 100%;
        background: none;
        outline: none;
        border: none;
        font-size: 20px;
        color: #333
    }
    #mainPane #header #header_main {
        height: 100%;
        width: calc(100% - 50px);
        min-width: calc(100% - 50px);
        max-width: calc(100% - 50px);
        display: flex;
        display: webkit-flex;
        flex-direction: row;
        overflow-y: hidden;
        align-items: center;
        overflow-x: auto;
        scroll-behavior: smooth
    }
    #mainPane #header #header_main .tabBtn {
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
        max-height: 100%;
        min-height: 100%;
        outline: none;
        background: none;
        border: none;
        border-bottom: 3px solid transparent;
        transition: all 150ms linear;
        font-size: 14px;
        font-weight: 600;
        color: #333;
        white-space: nowrap
    }
    #mainPane #header #header_main .hactive {
        border-bottom-color: #282828 !important;
        color: #282828 !important
    }
    #mainPane .dbtab {
        display: none;
        width: 100%
    }
    #mainPane .dactive {
        display: block !important
    }
    .stats {
        width: 100%;
        display: flex;
        display: webkit-flex;
        flex-direction: row;
        overflow: hidden;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap
    }
    .stats .stat {
        flex: 0 0 48%;
        height: 200px;
        border: 0 solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 2px solid #ccc;
        margin-bottom: 15px;
        overflow: hidden;
        position: relative;
        display: flex;
        display: webkit-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background: #fff;
        box-shadow: 2px 2px 4px #ddd, -1px -1px 1px #eee;
        -moz-box-shadow: 2px 2px 4px #ddd, -1px -1px 1px #eee;
        -webkit-box-shadow: 2px 2px 4px #ddd, -1px -1px 1px #eee;
        -o-box-shadow: 2px 2px 4px #ddd, -1px -1px 1px #eee;
        border-radius: 10px 0 0 0;
        -moz-border-radius: 10px 0 0;
        -webkit-border-radius: 10px 0 0 0;
        -o-border-radius: 10px 0 0 0
    }
    .stats .stat h5 {
        position: absolute;
        border-radius: 0 0 10px 0;
        -moz-border-radius: 0 0 10px;
        -webkit-border-radius: 0 0 10px 0;
        -o-border-radius: 0 0 10px 0;
        top: 0;
        left: 0;
        margin: 0;
        padding: 5px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        word-spacing: 3px;
        white-space: nowrap
    }
    .stats .stat p {
        margin: 0;
        padding: 0;
        font-size: 24px;
        font-weight: 900;
        letter-spacing: 1px;
        word-spacing: 3px
    }
    .au {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        display: webkit-flex;
        flex-direction: column;
        border: none !important
    }
    .au .au-left {
        width: 100%;
        padding: 10px
    }
    .au .au-left .au-img {
        width: 200px;
        height: 200px;
        margin: auto
    }
    .au .au-right {
        width: 100%;
        padding: 10px;
        overflow: auto
    }
}
@media screen and (min-width: 768px) {
    #sidePane {
        z-index: 1;
        position: fixed;
        width: 240px;
        top: 0;
        left: 0;
        height: 100%;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.5);
        display: none
    }
    #side {
        z-index: 2;
        position: fixed;
        width: 240px;
        top: 0;
        left: 0;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        background: #282828;
        transition: all 200ms linear;
        border-right: 1px solid #fff
    }
    #side.active {
        left: 0
    }
    #side #sideTop {
        height: 150px;
        background: #ccc;
        position: relative;
        overflow: hidden
    }
    #side #sideTop #userDet {
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 15px;
        color: #fff;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }
    #side #sideTop #userDet button {
        outline: none;
        border: none;
        margin-left: 5px;
        padding: 5px 10px;
        color: #fff;
        font-size: 12px;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px
    }
    #side #sideTop #logo {
        position: absolute;
        z-index: 2;
        top: 10px;
        left: 10px
    }
    #side #sideTop #sideClose {
        position: absolute;
        z-index: 2;
        border: none;
        background: none;
        color: #fff;
        outline: none;
        top: 15px;
        right: 10px;
        font-size: 14px;
        display: none
    }
    #side #sideLinks .linkGroup {
        border-bottom: 1px solid #353333
    }
    #side #sideLinks .linkGroup .link {
        padding: 13px;
        display: flex;
        display: webkit-flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        cursor: pointer
    }
    #side #sideLinks .linkGroup .link .linkIcon {
        background: none;
        width: 30px;
        text-align: center;
        overflow: hidden;
        font-size: 18px;
        margin-right: 20px;
        color: #fff
    }
    #side #sideLinks .linkGroup .link .linkText {
        width: calc(100% - 80px);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 14px;
        color: #fff;
        font-weight: 500
    }
    #side #sideLinks .linkGroup .link .linkBadge {
        position: absolute;
        right: 20px
    }
    #mainPane {
        position: fixed;
        z-index: 0;
        top: 0;
        left: 240px;
        right: 0;
        width: calc(100% - 240px);
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        background: #fff;
        padding-top: 50px
    }
    #mainPane #header {
        position: fixed;
        width: calc(100% - 240px);
        z-index: 10;
        top: 0;
        left: 240px;
        height: 50px;
        background: #fff;
        overflow: hidden;
        display: flex;
        display: webkit-flex;
        flex-direction: row;
        border-bottom: 1px solid #ccc
    }
    #mainPane #header #header_side {
        width: 50px;
        height: 100%;
        min-width: 50px;
        max-width: 50px;
        background: none;
        display: none
    }
    #mainPane #header #header_side button {
        height: 100%;
        width: 100%;
        background: none;
        outline: none;
        border: none;
        font-size: 20px;
        color: #333
    }
    #mainPane #header #header_main {
        height: 100%;
        width: calc(100% - 0px);
        min-width: calc(100% - 0px);
        max-width: calc(100% - 0px);
        display: flex;
        display: webkit-flex;
        flex-direction: row;
        overflow-y: hidden;
        align-items: center;
        overflow-x: auto;
        scroll-behavior: smooth
    }
    #mainPane #header #header_main .tabBtn {
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
        max-height: 100%;
        min-height: 100%;
        outline: none;
        background: none;
        border: none;
        border-bottom: 3px solid transparent;
        transition: all 150ms linear;
        font-size: 14px;
        font-weight: 600;
        color: #333;
        white-space: nowrap
    }
    #mainPane #header #header_main .hactive {
        border-bottom-color: #282828 !important;
        color: #282828 !important
    }
    #mainPane .dbtab {
        display: none;
        width: 100%
    }
    #mainPane .dactive {
        display: block !important
    }
    .stats {
        width: 100%;
        display: flex;
        display: webkit-flex;
        flex-direction: row;
        overflow: hidden;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap
    }
    .stats .stat {
        flex: 0 0 32%;
        height: 200px;
        border: 0 solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 2px solid #ccc;
        margin-bottom: 15px;
        overflow: hidden;
        position: relative;
        display: flex;
        display: webkit-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background: #fff;
        box-shadow: 2px 2px 4px #ddd, -1px -1px 1px #eee;
        -moz-box-shadow: 2px 2px 4px #ddd, -1px -1px 1px #eee;
        -webkit-box-shadow: 2px 2px 4px #ddd, -1px -1px 1px #eee;
        -o-box-shadow: 2px 2px 4px #ddd, -1px -1px 1px #eee;
        border-radius: 10px 0 0 0;
        -moz-border-radius: 10px 0 0;
        -webkit-border-radius: 10px 0 0 0;
        -o-border-radius: 10px 0 0 0
    }
    .stats .stat h5 {
        position: absolute;
        border-radius: 0 0 10px 0;
        -moz-border-radius: 0 0 10px;
        -webkit-border-radius: 0 0 10px 0;
        -o-border-radius: 0 0 10px 0;
        top: 0;
        left: 0;
        margin: 0;
        padding: 5px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        word-spacing: 3px;
        white-space: nowrap
    }
    .stats .stat p {
        margin: 0;
        padding: 0;
        font-size: 24px;
        font-weight: 900;
        letter-spacing: 1px;
        word-spacing: 3px
    }
    .au {
        width: 100%;
        max-width: 900px;
        margin: 50px auto;
        display: flex;
        display: webkit-flex;
        flex-direction: row
    }
    .au .au-left {
        width: 250px;
        padding: 10px
    }
    .au .au-left .au-img {
        width: 200px;
        height: 200px;
        margin: auto
    }
    .au .au-right {
        width: calc(100% - 250px);
        padding: 10px;
        overflow: auto
    }
}
#side #sideLinks .linkGroup:last-child {
    border-bottom: 0 solid #98A0C0
}
.overscroll {
    overflow: auto;
    width: 100%
}
.spo {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: .5px solid #ddd;
    width: 100%;
    display: flex;
    display: webkit-flex;
    flex-direction: row
}
.spo .spo-img {
    height: 100px;
    width: 100px;
    border: .5px solid #ddd
}
.spo .spo-det {
    width: calc(100% - 100px);
    padding-left: 10px
}
.th {
    font-weight: 600
}
.add-images {
    width: 100%;
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    display: webkit-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-bottom: 10px
}
.add-images .add-image {
    height: 150px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    overflow: hidden;
    position: relative;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px
}
.add-images .add-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 0;
    display: none
}
.add-images .add-image span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    display: webkit-flex;
    flex-direction: row;
    align-items: center;
    border: none;
    justify-content: center
}
.add-images .add-image span i {
    font-size: 30px;
    border: none;
    color: #888
}

